/* CSS Reset to remove any default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for the container holding the grid */
#container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px; /* Full viewport height */
}

/* Styles for each square in the grid */
.square {
  width: calc(100% / 16); /* Divides the container into 16 columns */
  height: calc(100vh / 16); /* Ensures the height is 1/16th of the viewport */
  background-color: #eee;
  border: 1px solid #ccc; /* Optional border for visibility */
}
/* making a resize button for the grid */
#resizeButton {
  border: none;
  color: black;
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  height:100px;
  width: 150px;
  cursor: pointer;
  background-color: yellow;

}
#clearButton {
  border: none;
  color: red;
  padding: opx;
  margin: 0px;
  font-size: 18px;
  height:100px;
  width: 150px;
  cursor: pointer;
  background-color: yellow;

}
#blueButton {
  border: none;
  color:orange;
  padding: opx;
  margin: 0px;
  font-size: 18px;
  height:100px;
  width: 150px;
  cursor: pointer;
  background-color: blue;

}